<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/research/projects.html">Research</a></li>
        <li><a href="/talks/talks.html">Talks</a></li>
        <li><a href="/hub/hub.html">Hub</a></li>
        <li><a href="/benty-fields/benty-fields.html">benty-fields</a></li>
        <li><a href="https://mystatisticsblog.blogspot.com/" target="_blank">Blog</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact/contact.html">Contact</a></li>
      </ul>
    </nav>
    
    <div class="container">

      {{ content }}

    </div>
  
    <footer>
     <ul>
       <li><a href="https://github.com/fbeutler">github.com/fbeutler</a></li>
       <li>&#9400; Florian Beutler</li>
     </ul>
    </footer>
  </body>

</html>
